* {
    font-family: roboto, sans-serif;
}

.heading1 {
    background-color: #1F2937;
    height: 535;
    min-width: 1400px;
}

#heading3 {
    margin-right: 226px;
}

.heading2,
#heading3 {
    display: flex;
    align-items: baseline;
    margin-top: -15px;
}

.menu-one {
    display: flex;
    margin-left: 205px;
    margin-right: 200px;
    font-size: 24px;
    color: #F9FAF8;
    flex-grow: 4;
    min-width: 140px;
}

.menu-two {
    margin-left: 25px;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    min-width: 135px;
}

.heading5 {
    display: flex;
    justify-content: space-between;
    margin-left: 205px;
    margin-right: 226px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main-title {
    display: inline-flex;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 450px;
    height: 110px;
}

.main-five {
    display: flex;
    margin-top: -48;
    margin-bottom: -48px;
}

.main-subtitle {
    font-size: 20px;
    font-weight: lighter;
    font-family: helvetica;
    color: #F9FAF8;
    width: 450px;
    margin: 0px;
    margin-bottom: 20px;
}

.menu-six {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    background-color: grey;
    color: white;
}

.button {
    background-color: #3882F6;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px solid white;
}

.heading6 {
    display: flex;
    min-width: 1400px;
    height: 450px;
    justify-content: center;
}

.menu-eight {
    display: flex;
    justify-content: center;
    min-width: 1000px;
}

.menu-nine {
    font-size: 36px;
    font-weight: bolder;
}

.menu-ten {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 216px;
}

.box-one-one,
.box-two-one,
.box-three-one,
.box-four-one {
    border: 4px solid #3882F6;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.menu-ten-one-two,
.menu-ten-two-two,
.menu-ten-three-two,
.menu-ten-four-two {
    display: flex;
    width: 165px;
    margin: 0px;
    color: #454850;
    text-align: center;
    align-items: flex-end;
    justify-content: space-around;
    align-content: center;
}

.heading7 {
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
    min-width: 1400px;
    background-color: #E5E7EB;
}

.menu-eleven {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu-eleven-one {
    width: 775px;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

.menu-eleven-one-one {
    margin: 0px;
}

.menu-eleven-two {
    display: flex;
    align-self: flex-end;
    margin: 0px;
    font-weight: bold;
    font-size: 20px;
}

.heading8 {
    height: 350px;
    min-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-twelve {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    height: 150px;
    width: 1020px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-twelve-one {
    margin-left: 125px;
}

.menu-twelve-two {
    margin: 0px;
    font-size: 23px;
    font-weight: bold;
}

.menu-twelve-three {
    margin: 0px;
    margin-top: 5px;
    color: #E5E7EB;
}

.button2 {
    margin-right: 125px;
    background-color: #3882F6;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px solid white;
}

.heading9 {
    display: flex;
    height: 100px;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
}

